p{
	color: #505050;
	font-family: OpenSans;
	font-size: 12px;
  	src: url(../fonts/font-homboo/Open_Sans/OpenSans-Regular.ttf);
  	text-align: justify;
  	width: 758px;
}
	
h2{
	font-family: Oswald-Regular;
	margin-bottom: 20px;

}
h3{

	font-family: Oswald-Regular;
	color: #666;
	font-size: 20px;
	font-weight: bolder;
	margin-top: 53px;
	margin-bottom: 10px;
	height: 50px;
}
.btn-finance{
	padding-left: 40px !important;	
  	padding-right: 40px !important;	  	
  	font-family: Oswald-Regular;
}
.center {
    margin: auto;
}
.home-css header .services-btn{
	padding-left: 23px;
}
.nav2{
	width: 240px;
}
.home-css nav {
  background-image: none !important;
  background-color: #87C900 !important;
}
.header-cont{
	margin-bottom: 8px;
}
section.breadcrumbs{
	color: #505050;
	font-family: OpenSans;
	font-size: 12px;
  	src: url(../fonts/font-homboo/Open_Sans/OpenSans-Regular.ttf);
	height: 40px;
	padding-top: 10px;	
	
}
.social-links{
	width: 48px;
	position: absolute;
	top: 119px;
}

.service-box{
	width: 375px;
	height: 264px;
	display: inline-block;
	
}
div.left-side{
	width: 168px;
	height: 264px;
	float: left !important;
}
p.service-box{
	float: left !important;
	margin-left: 14px;
	width: 130px;
	height: 40px;
	color: white;
}
.title-service-box{
	float: left !important;
	font-family: Oswald-Regular;
	margin-left: 14px;
	color: white;
}
.img-service-box{
	float: right;
}
.btn-service-box{
	float: left !important;
	margin-left: 14px;
	margin-top: 48px;
	width: 105px;
	height: 27px;
	padding-left: 0px !important;
	padding-top: 3px;
	font-family: Oswald-Regular;
}
.loans{
	background-color: #999999;
	margin-right: 4px;
	margin-left: 0px;

}
.insurance{
	background-color: #666666;
	margin-left: 0px;
	margin-right: 0px;
}
.container{
	padding-left: 0px;
	padding-right: 0px;
}
.calculator-title{
	height: 40px;
	font-family: Oswald-Regular;
	color: white;
	text-align: center;
	padding-top: 10px;
}
.calculator-title.mortgage{
	background-color: rgba(153, 153, 153, 0.45);
}
.calculator-title.insurance-calculator{
	background-color: rgba(0, 0, 0, 0.45);
}
div.right-side{
	padding-left: 50px;
	width: 207px;
	height: 264px;
	padding-left: 25px;
	float: left !important;
	background-color: white;
	color: #505050;
	font-family: OpenSans;
	font-size: 10px;
  	src: url(../fonts/font-homboo/Open_Sans/OpenSans-Regular.ttf);
}
div.button-box{
	height: 70px;
	/*opacity:0.8;*/
	margin-top: 155px;
	padding-top: 15px;
	padding-top: 15px;
	text-align: center;
}
div.button-box.mortgage{
	background-color: rgba(153, 153, 153, 0.45);	
}
div.button-box.insurance-calculator{
	background-color: rgba(0, 0, 0, 0.45);	
}
.solido{
	opacity:1.0 !important;
}
div.left-side.mortgage{
	background-image: url("../img/calculadora1.png");
}
div.left-side.insurance-calculator{
	background-image: url("../img/calculadora2.png");
}

/*-- Mini form --*/

form.mini{
	font-size: 10px;
	width: 180px;
	padding-top: 36px;
}
div.fila{
	width: 185px;
	height: 40px;
}
div.columna{
	display: inline-block;
	height: 30px;
	padding-bottom: 5px;
}
div.columna.left{
	width: 67px;
}
div.columna.right{
	width: 105px;
}
input.mini{

}
input.mini.largo{
	width: 90px;
}
input.mini.corto{
	width: 47px;
}
label.mini{
	
}
hr.mini{
	width: 160px;
	margin-top: 3px !important;
	margin-bottom: 8px !important;	
	margin-left: 0px;	
}
strong.mini{
	font-size: 12px;
	padding-left: 10px;
}
div.community-section{		
	width: 100%;
	margin-bottom: 30px;
}
div.community-box{
	width: 250px;
	height: 187px;
	display: inline-block;
	margin: 0px;
	padding-top: 127px;		
}
div.community-box.one{
	background-image: url("../img/community1.png");
}
div.community-box.two{
	background-image: url("../img/community2.png");
}
div.community-box.three{
	background-image: url("../img/community3.png");
}
div.community-title{
	height:60px;
	background-color: rgba(0, 0, 0, 0.45);
	font-family: Oswald-Regular;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 17px;
	line-height: 20px;
}
#banner2{
	padding-top: 10px;
}
.homboo-communityfinal .singIn-btn button {
    margin-right: 1px;
    position: relative;
    font-family: Oswald-Regular;
    font-size: 12px;
    width: 127px;
    height: 25px;
    color: #FFF;
    background-color: #999;
    padding: 0px;
}
.btn-finance2{
 /*padding-left: 40px !important; 
   padding-right: 40px !important; */
   font-family: Oswald-Regular;
 font-size: 12px;
 padding: 0px 0px;
 height: 27px;
 width: 127px;
}
.text-box{
	position: absolute;
	left:261px;
	top: 347px;
	z-index: 2;
	color:white;	
}

.btn-community {
    float: right;
    font-family: Oswald-Regular;
    color: #FFF;
    font-size: 15px;
    background-color: #114C9B;
    width: 176px;
    padding-right: 10px;
    border: medium none;
    margin-right: 1px;
    height: 34px;
    margin-top: 43px;
}
.active {
  background-color: #4ba011 !important;
}
#barsearch {
	z-index: inherit !important;
}
.colornav {
  background: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  top: 452px;
  width: 100%;
}
.input-group {
  width: 453px!important;
  margin-left: 268px;
  padding-bottom: 15px;
}
.searchbar label {
  color: #fff;
  font-family: OpenSans-Bold;
}
.paddig-top-11 {
    padding-top: 11px !important;
}
.searchbar .btn-go {
  font-family: OpenSans-Semibold;
  background-color: #048f27!important;
  color: #fff ;
  border-color: #048f27!important;
}
.input-group {
  width: 453px!important;
  margin-left: 268px;
  padding-bottom: 15px;
}
.barsearch2{
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0% !important;
	position: absolute;
	top: 447px;
	z-index: 3;
	width: 100%;
	height: 46px;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: -1px;
	margin-bottom: -5px;
}

.labelsearch2{
	color: white;
}
.height-26 {
  height: 26px!important;
}
.width-367 {
  width: 367px!important;
}
.width-156 {
  width: 156px!important;
}
.dropdown-toggle:focus {
    outline: 0px none;
}
.btn-categories {
  width: 174px;
  font-family: OpenSans;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.btn-default {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
button.serv .caret {
  margin-left: 8px;
}
.input-group {
  padding-top: 10px;
}
.btn-go {
    font-family: OpenSans-Semibold !important;
    background-color: #048F27 !important;
    color: #FFF !important;
    border-color: #048F27 !important;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}


@media (min-width: 1441px) {
  .architecture-css #banner .slider-cont .carousel-indicators {
    bottom: initial;
    top: 335px;
  }
}
.carousel-indicators {
  margin: 0!important;
  width: auto!important;
  left: 76.7%!important;
  position: absolute!important;
}
